<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <video id="someScreen" autoplay></video>
    <script>
      const someScreen = document.querySelector("#someScreen");

      setTimeout(async () => {
        someScreen.srcObject = await navigator.mediaDevices.getDisplayMedia({
          video: {
            cursor: "always"
          },
          audio: false
        });
      }, 500);
    </script>
  </body>
</html>
